<br>
<br>
<br>
<div class="container">
	<form action="/user/create" method="post" accept-charset="utf-8" class="form-singin">
		<label>Numero de control</label>
		<input type="text" name="ncontrol" value="" required class="form-control">
		<label>Contraseña</label>
		<input type="password" name="password" value="" required class="form-control">
		<label>Nombre</label>
		<input type="text" name="nombre" value="" required class="form-control">
		<label>Apellido Paterno</label>
		<input type="text" name="apellido_p" value="" required class="form-control">
		<label>Apellido Materno</label>
		<input type="text" name="apellido_m" value="" required class="form-control">
		<label>Correo Institucional</label>
		<input type="email" name="correo_inst" value="" required class="form-control">
		<label>Correo Personal</label>
		<input type="email" name="correo_pers" value="" required class="form-control">
		<br>
		<input type="submit" value="Registrarse" class="form-control">
	</form>
</div>